/* colors */
$prim-color: #419C7A;
$background-color: #efebe9 ;
$r-prim-color: #EEE;
$prim-font: "roboto", Helvetica, Arial, sans-serif;
$sub-font:  Papyrus, fantasy;
	
$prim-green:#9ed192;
$prim-green-light:#aedea2;
$prim-green-lighter:#ddffd1;
$prim-green-dark:#8ebf82;
$prim-green-darker:#81ad74;

$prim-blue:#63b08b;
$prim-blue-light:#73bd98;
$prim-blue-lighter:#91d9b4;
$prim-blue-dark:#50a680;
$prim-blue-darker:#44946f;

$prim-yellow:#c2c232;
$prim-yellow-light:#cfcf42;
$prim-yellow-lighter:#dede52;
$prim-yellow-dark:#b3b324;
$prim-yellow-darker:#a3a317;

$prim-brown:#b5a422;
$prim-brown-light:#cfbc42;
$prim-brown-lighter:#dec752;
$prim-brown-dark:#a39014;
$prim-brown-darker:#736000;

$prim-orange:#e6b265;
$prim-orange-light:#f5be76;
$prim-orange-lighter:#ffcd87;
$prim-orange-dark:#d69f56;
$prim-orange-darker:#c48f49;